{
    "env": {
      "browser": true,
      "serviceworker": true
    },
    "overrides": [
      {
        "files": ["service-worker.js"],
        "globals": {
          "self": "readonly"
        }
      }
    ]
  }
  