/* .materials-container1 {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    
}

.materials-container2 {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 40px; 
    border-top: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;   
}

.materials-container1 .table-align th{
    background-color: #c8b0ed;
    
}

.table-align{
    height: 20vh;
    width: 100%;
    margin-left: 0%;
    
}
 */

