.hackathon-container {
    
    min-height: 100vh;
  }
  
  .timer-box {
    margin: 0 0 0 0%;
    text-align: center;
    background-color: #d1f4ed; /* Teal.100 */
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .timer-text {
    color: #319795; /* Teal.700 */
    
  }
  
  .task-card {
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .task-header {
    background-color: #2c7a7b; /* Teal.600 */
    padding: 16px;
  }
  
  .task-title {
    color: #ffffff;
  }
  
  .task-body {
    padding: 24px;
  }
  
  .task-content {
    font-family: monospace;
    font-size: 1.25rem; /* 2rem / 1.6 for a more reasonable size */
    margin-bottom: 16px;
  }
  
  .task-time {
    color: #319795; /* Teal.700 */
    font-size: 1rem;
  }
  