.login-container
{
  width:100%;
  margin-top: 5%;
}
.btn
{
    float: right;
}
.qtn-btns
{
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 5% 30%;
  border-radius: 3px;
}
.qtn-btns1
{
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 3% 20%;
  border-radius: 3px;
  /* margin-left: 10%; */
}
.qtn-btns2
{
  text-decoration: none;
  background-color:orange;
  color: white;
  padding: 2% 20%;
  border-radius: 3px;
  /* margin-left: 10%; */
}
.btndiv
{
    height: 6vh;
    display: flex;
  justify-content: center;
}
/* Apply these CSS styles to your component's class or ID */
.my-dropdown1
{
    margin-top: 5%;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
}
.my-dropdown
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
  }
  
  .my-dropdown option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
  }
  
@media screen and (max-width: 767px)
{
    .my-dropdown1
    {
      margin-top: 15%;
      padding: 8px;
      font-size: 14px;
    }
        .login-container {
          width: 100%;
          margin-top: 45%;
        }
  
    .my-dropdown option {
      font-size: 14px;
    }
        .btndiv
        {
          height: 7vh;
          display: flex;
          justify-content: center;
        }
  }
 @media screen and (max-width: 480px) {
    .my-dropdown {
        padding: 6px;
        font-size: 12px;
      }
    
      .my-dropdown option {
        font-size: 12px;
      }
    
      .qtn-btns {
        font-size: 10px;
        padding: 0;
        border-radius: 0%;
      }
    
      .qtn-btns1 {
        font-size: 10px;
        padding: 0;
        border-radius: 0%;
      }
    
      .qtn-btns2 {
        font-size: 10px;
        padding: 0;
        border-radius: 0%;
      }
  }
  